*{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@font-face {
    font-family: 'equinoxbold';
    src: url('fonts/equinox_bold-webfont.woff2') format('woff2'),
    url('fonts/equinox_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'equinoxregular';
    src: url('fonts/equinox_regular-webfont.woff2') format('woff2'),
    url('fonts/equinox_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.about_timer h5, .plane_desc h4, .plane_desc2 h4, .team_div h3, .team_div h5, .team_member h4, .time_line_mob_view h4{
    font-family: 'equinoxregular';
}

img{
    max-width: 100%;
}

button.navbar-toggler.collapsed {
    background-color: #fff;
}
button.navbar-toggler {
    background-color: #fff;
}

.main_background{
    background-image: url('images/Final.png');
    background-size: cover;
    overflow: hidden;
}

.second_main{
    background-image: url('images/second_main.png');
    background-size: cover;
    min-height: 100vh;
    background-position: bottom;
    overflow: hidden;
}

.main_logo_col{
    display: flex;
    justify-content: end;
}

.main_logo_col img{
    margin-right: 50px;
}

.main_button_col{
    display: flex;
    justify-content: center;
}

.main_button_col button{
    font-family: 'equinoxregular';
    background: none;
    font-weight: 600;
    border: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20px;
    padding: 0 24px;
}

.desc_main{
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc_main h1{
    color: #fff;
}

.desc_main h5, .desc_main h5 span{
    font-weight: 300;
    color: #fff;
}

.desc_main h5 span{
    font-weight: 900;
}

.desc_main .submit_btn{
    font-family: 'equinoxregular';
    background-color: #fff;
    color: #37597E;
    font-weight: 600;
    padding: 4px 65px;
    font-size: 20px;
    border-radius: 23px;
    border: 2px solid #fff;
}

.navbar-brand img{
    max-width: 250px !important;
}

.navbar-collapse {
    justify-content: end !important;
}

.navbar{
    background: none;
    padding: 30px 75px;
}

.nav-link{
    font-family: 'equinoxregular';
    color: #fff !important;
    margin-right: 15px;
    font-size: 14px;
}

.nav-item-img{
    background-color: #fff;
    padding: 10px;
    width: 33px;
    border-radius: 25px;
    margin-right: 15px;
    cursor: pointer;
    height: 33px;
}

.nav-button{
    margin-left: 30px;
}

.nav-button, .about_btn button{
    font-family: 'equinoxregular';
    background: none;
    display: flex;
    color: #fff;
    border: none;
    border: 1px solid #183360;
    padding: 4px 30px;
    justify-content: center;
    align-content: center;
}

.progress {
    background: #fff;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 20px;
    width: 260px;
    margin: 25px 0;
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #37597E;
    height: 20px;
    width: 0;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 68%; }
}

.about_section{
    padding: 120px 0;
}

.about_section_col p{
    color: #c2c2c2;
    margin-top: 5px;
    font-weight: 400;
}

.about_btn{
    display: flex;
}

.about_btn button{
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 20px;
}

.count_down li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    text-transform: uppercase;
}

.count_down li span{
    display: block;
    text-align: center;
    border: 1px solid #ffffff73;
    padding: 10px;
    border-radius: 6px;
    margin-right: 7px;
}
.count_down li p{
    text-align: center;
    font-size: 8px;
    margin-right: 6px;
}

.about_timer h5, .plane_desc h4, .team_div h3{
    font-family: 'equinoxregular';
}

.plane_img::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    left: 0;
    height: 250px;
    width: 250px;
    background-color: #9CA4B9;
    z-index: 0;
    right: 0;
    margin: auto;
}
.plane_img {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plane_img img {
    position: relative;
    z-index: 1;
}

.plane_dsc_row{
    justify-content: center;
    height: 75vh;
}

.plane_desc h4, .plane_desc2 h4{
    position: relative;
}

.plane_desc h4::after{
    content: '';
    position: absolute;
    width: 350px;
    background-color: #fff;
    border: 1px solid #ffffffad;
    top: 11px;
    margin-left: 10px;

}

.plane_desc2 h4::after{
    content: '';
    position: absolute;
    width: 175px;
    background-color: #fff;
    border: 1px solid #ffffffad;
    top: 11px;
    margin-left: 10px;

}

.plane_desc, .plane_desc2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.plane_desc p,  .plane_desc2 p, .team_div p{
    font-size: 13px;
    color: #ffffffbf;
    margin: 0;
}

.time_line, .time_line_mob_view{
    text-align: center;
}

.time_line img{
    max-width: 90%;
}

.time_line_mob_view{
    margin-top: 30px;
}

.team_div{
    width: 45%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}


.team_div img{
    width: 20%;
}

.team_member{
    text-align: center;
}

.team_member img{
    max-width: 200px;
    max-height: 225px;
}

/*.team_member h4{*/
/*    margin-top: 10px;*/
/*}*/

/*.team_member span{*/
/*    font-size: 10px;*/
/*}*/

.team_member p{
    font-size: 13px;
    margin-top: 8px;
}

.flight_col img{
    width: 100px;
    margin-top: 10px;
}
.flight_col p{
    font-size: 10px;
}

.tokenomics{
    background: url('images/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-top: 70px;
    background-position: center;
    min-height: 770px;
}

.tokenomics .main_img{
    position: relative;
    width: 150px;
    bottom: 71px;
    right: -20px;
}

.tokenomics .token_col{
    border-right: 1px solid #ffffff54;
}

.tokenomics_dsc p{
    font-size: 14px;
    padding: 0 65px;
}

.tokenomics_dsc .token_para {
    font-size: 9px ;
    padding: 0 65px;
}

.divider{
    color: #fff;
    border: 1px solid #ffffff12;
    width: 80%;
}

.token_images img{
    width: 125px;
    margin-right: 15px;
    border-radius: 20px;
}

.footer_links{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.footer_links h5{
    font-family: 'equinoxregular';
    margin-right: 15px;
}

.subs_input input{
    background: none;
    border: 1px solid #6D85AE;
    padding: 3px 0px;
}

.subs_input input::placeholder{
    font-size: 13px;
    padding-left: 5px;
}

.subs_input button{
    background-color: #6D85AE;
    color: #000;
    border: 1px solid #6D85AE;
    padding: 8px 25px 5px 25px;
    font-size: 12px;
    font-weight: 500;
}

.follow_us{
    margin-top: 30px;
}

.follow_us::before{
    content: '';
    position: relative;

}

.footer-nav-item-img{
    background-color: #fff;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 15px;
    cursor: pointer;
    height: 31px;
}

.termsFeed{
    margin-top: 35px;
    background-color: #6D85AE;
}

footer .termsFeed p {
    margin: 0;
    padding: 15px 0;
    color: #000;
}

footer .termsFeed p span{
    font-weight: 700;
    color: #000;
}

.time_line_mob_view{
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        background: none;
         padding: 10px;
    }
    .navbar-brand img{
        width: 200px;
    }

    .time_line_mob_view {
        display: block;
        margin-top: 70px;
    }
    .about_section {
        padding: 55px 15px;
    }

    .plane_desc h4::after, .plane_desc2 h4::after {
        content: '';
        display: none;
    }

    .team_div {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }

    .tokenomics {
        text-align: center;
        background: none;
        margin-top: 130px;
    }

    .tokenomics h5{
        font-size: 28px;
    }

    .tokenomics .token_col {
         border-right: none;
        margin-bottom: 20px;
        border-bottom: 1px solid #ffffff1f;
    }
    .tokenomics_dsc p {
        font-size: 12px;
        padding: 0;
    }

    .tokenomics_dsc .token_para {
        font-size: 9px !important;
        padding: 0;
    }

    .token_images img {
        width: 125px;
        margin-right: 15px;
        margin-bottom: 16px;
    }

    footer .footer_logo{
        width: 180px;
        margin-top: 30px;
    }

    .footer_links {
        display: flex;
        justify-content: center;
        margin: 40px 0;
        flex-wrap: wrap;
        padding: 0 15px;
    }

    .footer_links h5{
        font-size: 13px;
    }

    div#basic-navbar-nav {
        margin-top: 17px;
    }

    button.nav-button {
        margin-top: 16px;
    }

    .header_social{
        margin-top: 13px;
    }
}
